div {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    max-height: 800px;
    height: 100%;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    color: #d0c2e1;
    background-color: #3a2c54;
  }
