div {
    padding: 30px;
    background-color: ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    color: #d0c2e1;
    background-color: #3a2c54;
  }
  

  form {
    color: #25113d;
    background-color: #bf9ee5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #380774;
    color: #decdf2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #4a0774;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

textarea {
    resize: vertical;
    min-height: 120px;
    background-color: #d0c2e1;
}

input[type="text"], input[type="email"]
{
    background-color: #d0c2e1;
}



