
<section>
    <div id="form" style="margin-top: 10vh;">
        <form method="POST" #myForm="ngForm" (submit)="addPost(myForm)">
            <input [(ngModel)]="hiba.nev" required style="margin-right: 8px;" type="text" name="nev" placeholder="Név">
            <input [(ngModel)]="hiba.varos" type="text" name="varos" required placeholder="Város">
            <textarea [(ngModel)]="hiba.hiba" name="hiba" placeholder="Hiba: " required id=""></textarea>
            <input  type="submit" value="Bejelentés">
        </form>
    </div>
</section>
